/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/newhome/src/backgroundnov.jpg);
}

.titulo {
    text-align: center;
    margin: 20px auto;
}

h1 {
    color: #fff;

}

p {
    color: #fff;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.top {
    margin-top: 160px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea, select, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

select {
    height: 40px;
}

button {
    background-color: #1A3636; /* Verde ecológico */
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #3cb371; /* Verde mais claro */
}

#mensagem {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 600px) {
    form {
        width: 90%;
        margin: 10px auto;
    }

    h1 {
        font-size: 1.5em;
    }
}
