.container-dois{
   background-color: #1A3636;
}

.nav .nav-link {
   color: #FFD09B;
}

.nav .nav-link.active {
   color: #FFB0B0 !important;
   background-color: #40534C;
   border-color: antiquewhite;
   }

.nav .nav-link:hover {
   color: #FFF7D1;
   border-color: antiquewhite;
   }

